/* BODY */
body {
    background-color: #1d1d1d;
}
/* MENU */

.navbar-inverse {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
    margin-bottom: 0px;
}

.navbar-toggle {
	background-color: #1D1D1D;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
	color: black;
}
#logo {
    color: white;
    font-weight: bold;
}

#lnNav {
    border-radius: 0px;
}

/* HEADER */
#miniHeader {
	background-color: #f5f5f5;
	border-bottom: 3px solid #eeeeee;
}
.page-heading {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}
.page-heading:after {
    opacity: 0.2;
}
.page-heading h1 {
    margin-top: 0;
    color: white;
    padding: 80px 0 0 0;
    font-size: 40px;
}

.page-heading p {
    margin-bottom: 0;
    line-height: 1.4;
    padding: 0 0 60px 0px;
    color: #CCCCB1;
}

.page-heading .container {
    position: relative;
}
.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(29,29,29,0.5)),color-stop(100%,rgba(29,29,29,1)));
    background: -webkit-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -o-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -ms-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -moz-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
}

/* CONTAIN */
.lnRow {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
}

.lnItem {
    font-size: 14px;
    width: 260px;
    overflow: hidden;
    max-height: 400px;
    height: 100%;
    margin: 12px;
    display: block;    
    align-self: center;
}

.lnItemInside {   
    width: 260px;
    margin: 0 auto;
    border: 1px solid rgba(240, 240, 240, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 400px;
}

.lnItemInsideImg {
    width: 100%;
    overflow: hidden;
    max-height: 280px;
    border-bottom: 1px solid rgba(240, 240, 240, .5); 
}
.lnItemInsideImg img {
    width: 100%;
}
.lnItem h4 {
}

.lnItem h4 a {
    color: white;
    text-decoration: none;
}
.lnItem > h4 > a:hover {
    color: #2A6496;
    text-decoration: none;
}
.lnItem:hover .lnXemchitiet {
    opacity: 0.9;
    color: white;
    top: 160px;
    transition: all 0.8s ease-in-out;      
}
.lnXemchitiet {
    position: absolute;
    display: block;
    top: 300px;
    left: 60px;
    width: 140px;
    border: 1px solid white;
    padding: 15px 0;
    background-color: #005C9C;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    opacity: 0;
    text-decoration: none;        
}
.lnItemInsideTop {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 3px 5px;
}
.lnItemInsideRating {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FF7F00;
    color: white;
    font-weight: bold;
    padding: 3px 5px;    
}
.lnItemInsideName {
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid grey;
}
.lnItemInsideName h4 {
    
}
.lnItemInsideInfo {
    
}
.lnItemInsideInfoRate {
    float: left;
    width: 49%;
    border-right: 1px solid #CCCCB1; 
}
.lnItemInsideInfoQuality {
    float: left;
    width: 49%;
}
.lnXemchitiet:hover {
    text-decoration: none;
}
.lnItemInsideInfo p {
    color: white;
    font-weight: 700;
    margin: 5px 0 10px;
}
.tags {
    position: absolute;
    top: 240px;
    padding-left: 10px;
}
.tags a {
    display: inline-block;
    padding: 5px 10px;    
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}
.tags a:hover {
    text-decoration: none;
}

/* FOOTER */
footer {
    border-top: 1px solid #f1f1f1;    
    padding-bottom: 30px;
}
footer a {
    color: white;
    padding-left: 10px;
}
footer h4 {
    color: white;
}
.margintop10px {
    margin-top: 10px;
}
.tab-content ul > li > a {
    border: 1px solid #337ab7; 
    padding: 3px 15px;    
    margin: 3px 3px;   
}
.inside {
    margin-top: 10px;
}
/* FOR RATING MOVIE */
#ex1Slider .slider-selection {
    background: #BABABA;
}
/* FOR MOVIE */
.lnXemchitietVisible {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #fafafa;
}
.lnXemchitietVisible:hover {
    text-decoration: none;
    color: white;
}
/* MOVIE DETAILS */
.colorwhite {
    color: white;
}
.fbold {
    font-weight: bold;
}
.bordergrey {
    border: 1px solid #fafafa;
}
#shareCounts {
    font-size: 60px;
    color: #E74339;
}
.paddingbottom50px {
    padding-bottom: 50px;
}

/* FOR MOVIE DETAILS */
.leftInfo {
    margin-top: 20px;
    margin: auto;    
    border: 2px solid #F0F0F0;
    text-align: center;
    width: 300px;
}

.leftInfo img {
    width: 100%;
}

.leftInfo h1 {
    color: white;
}

.leftInfo table {
    width: 100%;
    border: 1px solid #ccc;
}

.leftInfo table td {
    border: 2px solid #ccc;
    line-height: 30px;
    font-weight: bold;
    color: white;
}

.rightInfo {
    max-width: 500px;
    margin: auto;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    color: white;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #1D1D1D;
}
.bold {
    font-weight: 700;
}
.detailsMVButton {
    border-radius: 5px;
    background-color: #8EDCF8;
    padding: 20px;
    border: 2px solid #ccc;
    margin-top: 50px;
    border: 1px solid #eee;
    max-width: 500px;
    margin: auto;
}
#lnDetailMovieFooter a {
    margin: 0;    
    border: none;
}
#lnDetailMovieFooter {
    text-align: center;
    padding-bottom: 40px;
}
#lnDetailMovieFooter h2 {
    color: white;
}
#lnDetailMovieFooter table {
    width: 100%;
}
#lnDetailMovieFooter table caption {
    color: white;
    text-align: center;
    font-size: 20px;
}
#lnDetailMovieFooter table th {
    text-align: center;
    color: white;
}
#lnDetailMovieFooter table tr {
    border: 1px solid grey;
}
#lnDetailMovieFooter table td {
    color: white;
    padding: 3px;
}
.lnDetailMovieFooterButton {
    background-color: #007ED8;
    color: white;
    padding: 3px 5px;
    margin: 3px;
    border-radius: 2px;
}
.lnDetailMovieFooterUl {
    margin-top: 40px;
    text-align: left;
    list-style: none;
}
.lnDetailMovieFooterUl li {
    width: 230px;
    float: left;
    color: white;
}
.lnDetailMovieFooterUl li a {
    display: block;
    border: none;
    color: white;
}
.lnDetailMovieFooterUl > li > a {
    border: none;
}
.lnDetailMovieFooterLi a {
    border: none;
    border-style: none;
}
#rightImg img {
    width: 80%;
    display: block;
    margin: auto;
}

#mid_share_con a {
    color: #fff;
}
#mid_share a {
    margin-left: .2em;
}
.at-style-responsive .at-share-btn {
    padding: 5px;
}
.at-resp-share-element .at-share-btn {
    display: inline-block;
    margin: 0 2px 5px;
    overflow: hidden;
    line-height: 0;
    text-transform: none;
    transition: all .2s ease-in-out;
    border: 0;
}
.at4-visually-hidden {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    overflow: hidden;
}
.at-resp-share-element .at-share-btn .at-icon-wrapper {
    float: left;
}
.at-icon-wrapper {
    display: inline-block;
    overflow: hidden;
}
.at4-jumboshare .at-share-btn {
    display: inline-block;
    margin: 0 2px;
    line-height: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    background-color: transparent;
}
.at4-jumboshare .at-share-btn .at-icon {
    float: left;
}
.at-icon {
    fill: #fff;
    border: 0;
}
.at-resp-share-element .at-share-btn .at-label {
    padding: 0 15px 0 0;
    margin: 0 0 0 5px;
    background: none;
    color: white;
}
.at-label {
    color: white;
}
.social {
    margin-top: 5px;
}