/* MENU */

.navbar-inverse {
    background-color: white;
    border-color: white;
    margin-bottom: 0px;
}

.navbar-toggle {
	background-color: black;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: black;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
	color: black;
}
#logo {
    color: black;
    font-weight: bold;
}

#lnNav {
    border-radius: 0px;
}


/* HEADER */
#miniHeader {
	background-color: #f5f5f5;
	border-bottom: 3px solid #eeeeee;
}
.page-heading {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    background-color: #b84d45;
    margin-bottom: 30px;
    font-size: 20px;
    background-image: url("bg.png");
}

.page-heading h1 {
    margin-top: 0;
    color: white;
    padding: 40px 0 0 0;
}

.page-heading p {
    margin-bottom: 0;
    line-height: 1.4;
    padding: 0 0 40px 0px;
}

.page-heading .container {
    position: relative;
}


/* CONTAIN */

.lnRow {
}
.lnItem {
/*     border: 1px solid black;
 */
}
.lnItem img {
    border: 2px solid #ccc;
    max-width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
}
