/* BODY */
body {
    background-color: #1d1d1d;
}
/* MENU */

.navbar-inverse {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
    margin-bottom: 0px;
}

.navbar-toggle {
	background-color: #1D1D1D;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
	color: black;
}
#logo {
    color: white;
    font-weight: bold;
}

#lnNav {
    border-radius: 0px;
}

/* HEADER */
#miniHeader {
	background-color: #f5f5f5;
	border-bottom: 3px solid #eeeeee;
}
.page-heading {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}
.page-heading:after {
    opacity: 0.2;
}
.page-heading h1 {
    margin-top: 0;
    color: white;
    padding: 80px 0 0 0;
    font-size: 40px;
}

.page-heading p {
    margin-bottom: 0;
    line-height: 1.4;
    padding: 0 0 60px 0px;
    color: #CCCCB1;
}

.page-heading .container {
    position: relative;
}
.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(29,29,29,0.5)),color-stop(100%,rgba(29,29,29,1)));
    background: -webkit-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -o-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -ms-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -moz-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
}

/* CONTAIN */
.lnRow {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    justify-content: space-around;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
}

.lnItem {
    font-size: 14px;
    width: 240px;
    overflow: hidden;
    max-height: 400px;
    height: 100%;
    margin: 12px;
    display: block;    
}

.lnItemInside {   
    width: 240px;
    margin: 0 auto;
    border: 1px solid rgba(240, 240, 240, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 400px;
}

.lnItemInsideImg {
    width: 100%;
    overflow: hidden;
    max-height: 280px;
    border-bottom: 1px solid rgba(240, 240, 240, .5); 
}
.lnItemInsideImg img {
    width: 100%;
}
.lnItem h4 {
}

.lnItem h4 a {
    color: white;
    text-decoration: none;
}
.lnItem > h4 > a:hover {
    color: #2A6496;
    text-decoration: none;
}
.lnItem:hover .lnXemchitiet {
    opacity: 0.9;
    color: white;
    top: 160px;
    transition: all 0.8s ease-in-out;      
}
.lnXemchitiet {
    position: absolute;
    display: block;
    top: 300px;
    left: 50px;
    width: 140px;
    border: 1px solid white;
    padding: 15px 0;
    background-color: #005C9C;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    opacity: 0;
    text-decoration: none;        
}
.lnItemInsideTop {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 3px 5px;
}
.lnItemInsideRating {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FF7F00;
    color: white;
    font-weight: bold;
    padding: 3px 5px;    
}
.lnItemInsideName {
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid grey;
}
.lnItemInsideName h4 {
    
}
.lnItemInsideInfo {
    
}
.lnItemInsideInfoRate {
    float: left;
    width: 49%;
    border-right: 1px solid #CCCCB1; 
}
.lnItemInsideInfoQuality {
    float: left;
    width: 49%;
}
.lnXemchitiet:hover {
    text-decoration: none;
}
.lnItemInsideInfo p {
    color: white;
    font-weight: 700;
    margin: 5px 0 10px;
}
.tags {
    position: absolute;
    top: 240px;
    padding-left: 10px;
}
.tags a {
    display: inline-block;
    padding: 5px 10px;    
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}
.tags a:hover {
    text-decoration: none;
}

/* FOOTER */
footer {
    border-top: 1px solid #f1f1f1;    
    padding-bottom: 30px;
}
footer a {
    color: white;
    padding-left: 10px;
}
footer h4 {
    color: white;
}