label {
    font-weight: normal;
}

.navbar-default {
    border-radius: 0px;
}

#contain {
    min-height: 500px;
}
.centerForm {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.login {
    margin-top: 20px;
    border: 1px solid #2A6496;
    padding:  30px;
}

.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 0px;
    background-color: white;
    display: inline-block;
}

.lbCheckbox {
    vertical-align: middle;
    font-weight: normal;
}

.btnLogin {
    width: 100%;
}

.title {
    margin:0 auto;
    border: 1px solid #2A6496;
    text-align: center;
    max-width: 200px;
    margin-top: -50px;
    background-color: white;
    padding: 1px 2px;
}

.title {
    line-height: 30px;
}